body{
    background-color: slategray;
}

.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thekeypad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35px;
    grid-gap: 5px;
    max-width:120px;
}

.keypad_btn1{
    background-color: black;
    opacity: 0.75;
    color: cyan;
}

.keypad_btn2{               /* on crée une classe différente pour différencier les deux "joytick" */
    background-color: black;
    opacity: 0.75;
    color: rgb(255, 0, 162);
}

.container {
    display: grid;
    grid-template-columns: 
      1fr 1fr;
    grid-column-gap: 5px;
    grid-template-areas: 
      "header1" "header2"
      "main1"   "main2";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item-a {
    grid-area: header1;
    color: cyan;
}

.item-b {
    grid-area: header2;
    color :rgb(255, 0, 162)
.dimension{
    height:28px;
    width:28px;
}

.boxtitle{
    font-size: x-large;
    background-color: red;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px; 
    padding-left: 40px;

    border-bottom-width: 5px;
    border-bottom-color: black;
    border-bottom-style: solid;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}