<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/main.css") }}>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <script type="text/javascript" src={{ url_for("static", filename="js/main.js") }}></script>
    </head>
    <body>
        <div class="boxtitle"> 
            <i class="fa-brands fa-optin-monster"></i>
            <b> Rogue Flask </b>
            <i class="fa-brands fa-optin-monster"></i>
            </div> <!-- on ajoute une class pour le style -->

        <div class="flexbox">
            <div class="thekeypad">
                <div class="key"></div>
                <div class="key"><input id="go_n" class="keypad_btn1" type="button" value="&#9650"> </div>
                <div class="key"></div>
                <div class="key"><input id="go_w" class="keypad_btn1" type="button" value="&#9664"></div>
                <div class="key"></div>                    
                <div class="key"><input id="go_e" class="keypad_btn1" type="button" value="&#9654"></div>
                <div class="key"></div>
                <div class="key"><input id="go_s" class="keypad_btn1" type="button" value="&#9660"></div>
                <div class="key"></div>
            </div>

            <div id="console" style="font-family: monospace;" font-size: 200%;>
                {% for i in range(n_row) %}
                <div style="height: 18px">  <!-- 18px -->
                    {% for j in range(n_col) %}
                    <span id="{{ 'cell {}-{}'.format(i,j) }}"> {{ mapdata[i][j] }} </span>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <div class="thekeypad">
                <div class="key"></div>                    
                <div class="key"><input id="go_n2" class="keypad_btn2" type="button" value="&#9650"> </div> <!-- value à modifer ? -->
                <div class="key"></div>
                <div class="key"><input id="go_w2" class="keypad_btn2" type="button" value="&#9664"></div>
                <div class="key"></div>
                <div class="key"><input id="go_e2" class="keypad_btn2" type="button" value="&#9654"></div>
                <div class="key"></div>
                <div class="key"><input id="go_s2" class="keypad_btn2" type="button" value="&#9660"></div>
                <div class="key"></div>
            </div>

        </div>

        <div class="container">
            <div class="item-a">
                <h1 id="player1"> Player 1 </h1>
                <ul>
                    <li>
                        <span id="life"> Life : 1 </span>
                    </li>
                    <li>
                        <span id="potion"> Potion : 0 </span>
                    </li>
                    <li>
                        <span id="weapon"> Weapon : 0 </span>
                    </li>
                    <li>
                        <span id="money"> Money : 0 </span>
                    </li>
                    <li>
                        <span id="monster_killed"> Monster killed : 0 </span>
                    </li>
                </ul>
            </div>

            <div class="item-b">
                <h1 id="player2"> Player 2 </h1>
                <ul>
                    <li>
                        <span id="life2"> Life : 1 </span>
                    </li>
                    <li>
                        <span id="potion2"> Potion : 0 </span>
                    </li>
                    <li>
                        <span id="weapon2"> Weapon : 0 </span>
                    </li>
                    <li>
                        <span id="money2"> Money : 0 </span>
                    </li>
                    <li>
                        <span id="monster_killed2"> Monster killed : 0 </span>
                    </li>
                </ul>
            </div>

            <div class="boxrules" id="instruction">
                <h1 class="boxtitle">RULES OF THE GAME</h1>
                <div>SINGLE PLAYER : The main goal is achieve to kill all the monsters of the map. To do so, you have to collect a sword, and get close to him, before he does. Be careful, they can kill you too! Use the arrows on your screen or the ZQSD keyboard keys to go North, West, South or East. </div>
                <br>
                <div>MULTIPLAYER : The main goal is to achieve to kill your opponent before he does. To do so, you have to collect a sword, and get close to him, before he does. Monsters are still here to complicate your task. You can kill them but, be careful, they can kill you too! PLAYER 1 : Use the arrows on your screen or the ZQSD keyboard keys to go North, West, South or East. PLAYER 2 : Use the arrows on your screen or the OKLM keyboard keys to go North, West, South or East. </div>
            </div>
    
            <div class="boxrules" id="'instruction">
                <h1>TO HELP YOU :</h1>
                <br>
                <p>Potions : There are here to help you, or on the contrary can harm you. But they all look the same... Will you take the risk of catching one ? </p>
                <br>
                <p>Weapons : They are necessary to kill monsters or other players. Each time you hit someone/something, your weapon disappears. You can of course accumulate weapons.</p>
                <br>
                <p>Money : Here only for the pleasure of being rich. Nice, don't you think ?</p>
            </div>

    </body>
</html>